/*Root Style*/

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

/*Style for Nav Component*/

.nav {
  margin: 15px;
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
}

.nav li {
  padding-left: 20px;
}


/*Style for Login Component*/

.login-users {
  list-style: none;
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

/*Dashboard Component*/

.dashboard {
  margin: 15px;
}
.unanswered-list {
  list-style: none;
}

.answered-list {
  list-style: none;
}

/*Poll Component*/

.poll-question {
  padding: 10px;
  color: rgb(74, 74, 74);
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

/*Poll Details Component*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.poll-detail {
  height: 240px;
}

.option {
  border: 1px solid black;
  height: 75px;
  margin: 5px;
  padding: 5px;
  vertical-align: middle;
}

.pull-right {
  float: right !important;
}

.poll {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}
 /*Leaderboard Component*/

 .leaderboard-head {
   width: 80%;
   display: flex;
   flex-direction: row;
 }

 .leaderboard {
   list-style: none;
 }
